[submodule "dependencies/sky130_ef_ip__ccomp3v"]
	path = ip/sky130_ef_ip__ccomp3v
	url = ../sky130_ef_ip__ccomp3v.git
[submodule "dependencies/sky130_ef_ip__cdac3v_12bit"]
	path = ip/sky130_ef_ip__cdac3v_12bit
	url = ../sky130_ef_ip__cdac3v_12bit.git
